<script>
	let todos = [
		{ text: 'Todo 1', done: false, order: 0 },
		{ text: 'Todo 2', done: false, order: 1 },
		{ text: 'Todo 3', done: false, order: 2 },
		{ text: 'Todo 4', done: false, order: 3 },
		{ text: 'Todo 5', done: false, order: 4 }
	];
	let dones = [];

	function handleKeydown(event) {
		if (event.key === 'Enter') {
			const text = event.target.value;
			event.target.value = '';
			todos = [{ text, done: false, order: todos.length }, ...todos];
		}
	}
</script>

<svelte:head>
	<title>Home TODOs</title>
	<meta name="description" content="Svelte todo app" />
</svelte:head>

<section
	class="flex flex-col items-center border rounded-md
m-5 shadow-lg bg text-white p-3 py-10"
>
	<h1 class="text-xl">Este es el main de TODOs</h1>
	<input
		on:keydown={handleKeydown}
		type="text"
		class="rounded-md border border-gray-300 p-2 m-2
	text-slate-900 my-10 w-5/6"
	/>

	<div class="flex flex-col w-full gap-3">
		<div>TODOS:</div>
		{#each todos as todo}
			<div
				class="flex justify-between w-full p-3 border rounded-lg
			items-center shadow-md shadow-white/40"
			>
				<div class="flex gap-3">
					<p class="text-sm">{todo.order}</p>
					<p class="text-xl">{todo.text}</p>
				</div>
				<div class="flex gap-10 items-center">
					<input
						type="checkbox"
						bind:checked={todo.done}
						on:change={() => {
							if (todo.done) {
								dones = [{ ...todo, done: true }, ...dones];
								todos = todos.filter((t) => t !== todo);
							}
						}}
						class="w-8 h-8"
					/>
					<button
						on:click={() => {
							//dones = [{...todo, done: true}, ...dones];
							todos = todos.filter((t) => t !== todo);
						}}
						class="bg-red-500 rounded-md p-2 text-white">X</button
					>
				</div>
			</div>
		{/each}

		<div class="mt-10">DONES</div>
		<!-- recorrer todos los dones -->
		{#each dones as done}
			<div
				class="flex justify-between w-full p-3 border rounded-lg
		items-center shadow-md shadow-white/40"
			>
				<div class="flex gap-3">
					<p class="text-sm">{done.order}</p>
					<p class="text-xl">{done.text}</p>
				</div>
				<div class="flex gap-10 items-center">
					<input
						type="checkbox"
						bind:checked={done.done}
						on:change={() => {
							if (!done.done) {
								todos = [{ ...done, done: false }, ...todos];
								dones = dones.filter((t) => t !== done);
							}
						}}
						class="w-8 h-8"
					/>
					<button class="bg-red-500 rounded-md p-2 text-white">X</button>
				</div>
			</div>
		{/each}
	</div>
</section>

<style>
</style>
