@import '@fontsource/fira-mono';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: #161a1d;
	--color-bg-1: #B1A7A6;
	--color-primary: #BA181B;
	--color-secondary: #B1A7A6;
}

body {
	background-color: var(--color-bg-1);
}

.bg{
	background-color: var(--color-bg-0);
}

h1{
	font-size: 90px;
}
